.home{
	min-height: 100vh;
  padding-top: 50px;
  & h1{
    padding-top: 20px;
    font-size: 4rem;
		color: white;
  }
  & h2{
		color: white;
    font-size: 3rem;
    padding-top: 60px;
  }
}

.head{
	display: flex;
  justify-content: space-between;
  max-width: 90%;
  margin: auto;
  text-align: center;
}

.logo{
	display: flex;
	width: 200px;
	height: 200px;
	& h1 {
		padding-top: 30px;
	}
}

